form{
    display: flex;
    flex-direction: column;
    width: 41.375rem;
    margin: 0 auto;
    padding-bottom: 10rem;
}

form input,
form textarea, 
form button{
    padding: 1rem 2rem;
}

form input{
    margin-bottom: 1.5rem;
}

form button{
    margin: 2rem 0rem;
    color: var(--White-bk);
    cursor: pointer;
}

form button:hover{
    background: var(--Caribbean-current, #00798C);  
}

@media (max-width: 960px){
    form {
        width: 100%;
    }
}